* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/15d03880321f30a2ef6db7471e4105d8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    width: 650px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header h1 {
    color: white;
    margin-bottom: 20px;
}

.content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
}

.person {
    color: rgb(237, 79, 79);
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.button-area {
    margin-top: 20px;
}

#new-quote {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid cornsilk;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#new-quote:hover {
    background-color: rgb(203, 56, 56);
    color: white;
    border-color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: underline;
}
